@model DcmsMobile.Inquiry.Areas.Inquiry.PickslipEntity.WaveViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = string.Format("Wave {0}", Model.BucketId);
}

<div class="container">
    <div class="page-header">
        <div class="h2">
            @if (Model.Freeze)
            {
                <span>Wave @Html.DisplayFor(m => m.BucketId) (Frozen)</span><small>: @Html.DisplayFor(m => m.Name)</small>
            }
            else
            {
                <span>Wave @Html.DisplayFor(m => m.BucketId)</span><small>: @Html.DisplayFor(m => m.Name)</small>
            }

            <div class="btn-group">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    Reports <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @if (Model.Status != "VALIDATED")
                    {
                        <li>
                            <a href="@string.Format("{0}?bucket_id={1}", Model.OpenBucketSummaryUrl, Model.BucketId)" target="R140.02">
                                <span class="glyphicon glyphicon-new-window"></span>
                                140.02: Box details
                            </a>
                        </li>
                        <li>
                            <a href="@string.Format("{0}?bucket_id={1}", Model.UnprocessedSkuReportUrl, Model.BucketId)" target="R140.102">
                                <span class="glyphicon glyphicon-new-window"></span>
                                140.102: Unprocessed pieces details
                            </a>
                        </li>
                        <li>
                            <a href="@string.Format("{0}?bucket_id={1}", Model.ForwardPickShortageReportUrl, Model.BucketId)" target="R140.105">
                                <span class="glyphicon glyphicon-new-window"></span>
                                140.105: Pieces shortage in forward pick area
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@string.Format("{0}?bucket_id={1}", Model.InProcessReport, Model.BucketId)" target="R110.07">
                            <span class="glyphicon glyphicon-new-window"></span>
                            110.07: Progress of order
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="pull-right"><span class="glyphicon glyphicon glyphicon-new-window"></span><a href="@Model.UrlPullBoxes"> Pull Boxes</a></span>
                    Building: @Html.DisplayFor(m => m.Building)
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Pitch from</dt>
                        <dd>@Html.DisplayFor(m => m.PitchArea)</dd>
                        <dt>Customer Name</dt>
                        <dd>@Html.DisplayFor(m => m.CustomerName)</dd>
                        <dt>Pitch Limit</dt>
                        <dd>
                            @Html.DisplayFor(m => m.PitchLimit)
                            @Html.DisplayFor(m => m.PitchType) on Pitch cart
                        </dd>
                        <dt>Status</dt>
                        <dd>@Html.DisplayFor(m => m.Status)</dd>
                        <dt>Pulling Wave</dt>
                        <dd>@Html.DisplayFor(m => m.DockPullStatus)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Export Flag</dt>
                        <dd><span class="glyphicon glyphicon-@(Model.ExportFlag ? "ok text-success" : "remove")"></span></dd>
                        <dt>Pick Mode</dt>
                        <dd>@Html.DisplayFor(m => m.Pick)</dd>
                        <dt>Available For Pitching</dt>
                        <dd><span class="glyphicon glyphicon-@(Model.AvailableForPitching ? "ok text-success" : "remove")"></span></dd>
                        <dt>Created on</dt>
                        <dd>
                            @Html.DisplayFor(m => m.DateCreated)
                            by @Html.DisplayFor(m => m.CreatedBy)
                        </dd>
                        <dd>Comment: </dd>
                        <dt>@Html.DisplayFor(m => m.Comment)</dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="pull-right"><span class="glyphicon glyphicon glyphicon-new-window"></span><a href="@Model.UrlManagePickwave"> Manage Pickwave</a></span>
                    Inventory's Detail
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt># Pickslips</dt>
                        <dd> @Html.DisplayFor(m => m.PickslipCount)</dd>
                        <dt># Total Boxes</dt>
                        <dd>@Html.DisplayFor(m => m.TotalBoxes)</dd>
                        <dt># Boxes for pulling</dt>
                        <dd>@Html.DisplayFor(m => m.PullableBoxCount)</dd>
                        <dt># About To Pull Boxes</dt>
                        <dd>@Html.DisplayFor(m => m.AboutToPullBoxCount)</dd>
                        <dt># Boxes for pitching</dt>
                        <dd>@Html.DisplayFor(m => m.PitchableBoxes)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt># Pitched Boxes</dt>
                        <dd>@Html.DisplayFor(m => m.PitchedBoxes)</dd>
                        <dt># Boxes in Red area</dt>
                        <dd>@Html.DisplayFor(m => m.RedBoxCount)</dd>
                        <dt># Boxes not in any area</dt>
                        <dd>@Html.DisplayFor(m => m.NonPhysicalBoxCount)</dd>
                        <dt># Checked Boxes</dt>
                        <dd>@Html.DisplayFor(m => m.CheckedBoxes)</dd>
                        <dt># Not started Pieces</dt>
                        <dd> @Html.DisplayFor(m => m.UnprocessedPieces)</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
