@model DcmsMobile.Inquiry.Areas.Inquiry.CartonEntity.ICartonListViewModel


<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <thead >
            <tr>
                <th rowspan="2" style="text-align:center">#</th>
                <th rowspan="2" style="text-align:center">Carton <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                <th rowspan="2" style="text-align:center">Area</th>
                <th rowspan="2" style="text-align:center">Location</th>
                <th rowspan="2" style="text-align:center">SKU</th>
                <th rowspan="2" style="text-align:center">Vwh</th>
                <th rowspan="2" style="text-align:center">Quality</th>
                <th rowspan="2" style="text-align:center">Pieces</th>
                <th rowspan="2" style="text-align:center">Request</th>
                <th rowspan="2" style="text-align:center">Last Pulled Date</th>
                <th colspan="3" style="text-align:center">SKU Assigned At</th>
            </tr>
            <tr>
                <th style="text-align:center">Area</th>
                <th style="text-align:center">Location</th>
                <th style="text-align:center">Restock Aisle</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AllCartons.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].CartonId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].AreaShortName)
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(Model.AllCartons[i].LocationId))
                        {
                            @Html.DisplayFor(m => m.AllCartons[i].LocationId)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].DisplaySkuVwh)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].VwhId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].QualityCode)
                    </td>
                    <td style="text-align:right">
                        @string.Format("{0:N0}", @Html.DisplayFor(m => m.AllCartons[i].Pieces))
                    </td>
                    <td>
                        @if (Model.AllCartons[i].ReqProcessId != null)
                        {
                            @Html.DisplayFor(m => m.AllCartons[i].ReqProcessId)
                        }
                    </td>
                    <td>
                        @if (Model.AllCartons[i].LastPulledDate != null)
                        {
                            @Html.DisplayFor(m => m.AllCartons[i].LastPulledDate)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].AssignedRestockAreaShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].AssignedRestockLocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.AllCartons[i].AssignedRestockAisle)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="success">
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right">
                    @string.Format("{0:N0}", @Model.AllCartons.Sum(m => m.Pieces))
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

