@model DcmsMobile.Inquiry.Areas.Inquiry.CartonEntity.CartonOpenViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
}
@section script {
    <style type="text/css">
        /* h1 within header is specially styles so that the heading uses full width of the screen. Do not use buttons in this header.
            Use h2 to h9 if you want to obtain default jquery mobile styling.*/
        .ui-header h1.ui-title {
            margin-left: 1mm;
            margin-right: 1mm;
        }
    </style>
}
<div class="container">
    <div class="page-header">

        <h1>

            <img src="~/Content/images/OpenCarton.jpg" />@Model.CartonId <a class="btn btn-sm" href="@Url.Action(MVC_Inquiry.Inquiry.CartonEntity.CartonExcel(Model.CartonId))">
                <span class="glyphicon glyphicon-export"></span> Excel
            </a>
            <small>
                <small>
                    @if (Model.ProcessList.Count() != 0)
                    {
                        <a class="ui-btn" href="@string.Format("{0}", Model.PalletHistory)" title="Open Bucket Summary Report" target="_blank">See pallet's history</a>
                    }
                </small>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span><strong>Belongs To</strong></span>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Shipment</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.ShipmentId))
                            {
                                @Html.ActionLink(string.Format("{0} ", Model.ShipmentId), MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipment(Model.ShipmentId))
                                <span>Date</span>    @Html.DisplayFor(m => m.ShipmentDate)
                            }
                            else
                            {
                                <span>NA</span>
                            }
                        </dd>
                        <dt>Sewing Plant Code</dt>
                        <dd>

                            @if (!string.IsNullOrEmpty(Model.PriceSeasonCode))
                            {
                                @Html.DisplayFor(m => m.DisplaySewingPlant)
                            }
                            else
                            {
                                <span>NA</span>
                            }

                        </dd>
                        <dt>Price Season Code</dt>
                        <dd>

                            @Html.DisplayFor(m => m.PriceSeasonCode)

                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span><strong>Was </strong></span>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>In Area</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.ShortName))
                            {
                                @Html.DisplayFor(m => m.ShortName)
                            }
                            else
                            {
                                <span>NA</span>
                            }
                        </dd>
                        <dt>On Pallet</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.PalletId))
                            {
                                @Html.ActionLink(Model.PalletId, MVC_Inquiry.Inquiry.CartonEntity.CartonPallet(Model.PalletId))
                            }
                            else
                            {
                                @Html.DisplayFor(m => m.PalletId)
                            }
                        </dd>
                        <dt>On Location</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.LocationId))
                            {
                                @Html.ActionLink(Model.LocationId, MVC_Inquiry.Inquiry.CartonAreaEntity.CartonLocation(Model.LocationId))
                            }
                            else
                            {
                                @Html.DisplayFor(m => m.LocationId)
                            }
                        </dd>
                        @if (!string.IsNullOrWhiteSpace(Model.DamageCode))
                        {
                            <dt> With Damage Code</dt>
                            <dd>
                                <span>Damaged @Html.DisplayFor(m => m.DamageCode)</span>
                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span><strong>Content</strong></span>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>SKU</dt>
                        <dd>
                            <a href="@Url.Action(MVC_Inquiry.Inquiry.SkuEntity.Sku(Model.SkuId.Value))">@Html.DisplayFor(m => m.DisplaySku)</a>
                        </dd>
                        <dt>Quantity</dt>
                        <dd>
                            @Html.DisplayFor(m => m.Pieces)
                        </dd>
                        <dt>Quality</dt>
                        <dd>
                            @if (Model.QualityCode != null)
                            {                                 @Html.DisplayFor(m => m.QualityCode) <span> : @Html.DisplayFor(m => m.QualityDescription)</span>

                            }
                            else
                            {
                                <span>NA</span>
                            }
                        </dd>
                        <dt>Virtual Warehouse</dt>
                        <dd>
                            @Html.DisplayFor(m => m.VwhId)
                        </dd>
                        <dt>Pulled for UCC</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.ReservedUccID))
                            {
                                @Html.ActionLink(Model.ReservedUccID, MVC_Inquiry.Inquiry.BoxEntity.Box(Model.ReservedUccID))
                            }
                            else
                            {
                                <span>NA</span>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial(MVC_Inquiry.Inquiry.CartonEntity.Views._cartonProcessPartial)

</div>
<!--*************************************-->