@model DcmsMobile.Inquiry.Areas.Inquiry.SharedViews.PoListViewModel
@if (Model.PoList.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-bordered">
            <caption>
                <h3>Displaying Recently Imported @Html.DisplayFor(m => m.PoCount) of @Html.DisplayFor(m => m.TotalPoCount) Active PO</h3>
            </caption>
            <thead>
                <tr>
                    <th style="text-align:center">#</th>
                    <th style="text-align:center">Building</th>
                    <th style="text-align:center">VWh</th>
                    <th style="text-align:center">PO</th>
                    <th colspan="3" style="text-align:center">Date</th>
                    <th style="text-align:center"># Pickslips</th>
                    <th style="text-align:center"># Boxes</th>
                    <th colspan="2" style="text-align:center" >Pieces</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align:center">Imported <span class="glyphicon glyphicon-sort-by-order-alt"></span></th>
                    <th style="text-align:center">Start</th>
                    <th style="text-align:center">DC Cancel</th>
                    <th></th>
                    <th></th>
                    <th style="text-align:center">Ordered</th>
                    <th style="text-align:center">In Box</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PoList.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Html.DisplayFor(m => m.PoList[i].WhId)</td>
                        <td>@Html.DisplayFor(m => m.PoList[i].VWhId)</td>
                        <td>
                            @Html.ActionLink(Model.PoList[i].PO, MVC_Inquiry.Inquiry.PickslipEntity.Po(Model.PoList[i].PO, Model.PoList[i].CustomerId, Model.PoList[i].Iteration))
                        </td>
                        <td>@Html.DisplayFor(m => m.PoList[i].ImportDate)</td>
                        <td>@Html.DisplayFor(m => m.PoList[i].StartDate)</td>
                        <td>@Html.DisplayFor(m => m.PoList[i].DcCancelDate)</td>
                        <td style="text-align:right">@Html.DisplayFor(m => m.PoList[i].TotalPickslip)</td>
                        <td style="text-align:right">@Html.DisplayFor(m => m.PoList[i].BoxCount)</td>
                        <td style="text-align:right">@Html.DisplayFor(m => m.PoList[i].PiecesOrdered)</td>
                        <td style="text-align:right">@Html.DisplayFor(m => m.PoList[i].PiecesInBox)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No Active PO for this customer
    </div>
}
