@model DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.IntransitShipmentListViewModel
@* Date Model biding explained in http://weblogs.asp.net/melvynharbour/archive/2008/11/21/mvc-modelbinder-and-localization.aspx*@

@using EclipseLibrary.Mvc.Helpers
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}

<div data-role="page" id="mypage">
    <div data-role="header">
        <h1>Inbound Shipment Summary</h1>
        <div data-role="controlgroup" data-type="horizontal" style="text-align:center">
            <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.InboundShipmentDetail())" class="ui-btn">Shipment SKU</a>
            @if (Model.Shipments.Count > 0)
            {
                <button id="btnExcel" class="ui-btn" data-url="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentListExcel())">Excel</button>
            }
        </div>
    </div>


    <div id="responsivegroup" data-url="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())" data-collapsed-icon="bars" class="ui-nodisc-icon ui-alt-icon ui-mini">
        <h3>@Html.DisplayFor(m => m.Filters.DisplayFilters)</h3>
        <div id="fsShipmentTypes" data-role="controlgroup" data-type="horizontal" style="text-align:center">
            @if (Model.Filters.HasFilters)
            {
                <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())" class="ui-btn ui-btn-b">Reset Filters</a>
            }
            @Html.EnumDropDownListFor(m => m.Filters.Source, "All Types")
            @Html.DropDownListFor(m => m.Filters.SewingPlantCode, Model.SewingPlantList, "(Sewing Plant)")
            <label for="cbVarianceOnly">Variance Only</label>
            <input type="checkbox" name="@Model.NameFor(m => m.Filters.VariancesOnly)"
                   data-role="flipswitch" data-on-text="Variances" data-off-text="All" data-wrapper-class="custom-size-flipswitch"
                   value="true" id="cbVarianceOnly" @Html.Raw(Model.Filters.VariancesOnly ? "checked='checked'" : "") />
            <a href="#statusPopup" data-rel="popup" data-transition="slideup" class="ui-btn ui-btn-icon-right ui-nodisc-icon ui-alt-icon ui-icon-carat-r">@Html.DisplayFor(m => m.Filters.DisplayStatus)</a>
        </div>
    </div>

    @Html.HiddenFor(m => m.Filters.Status, new
{
    id = "hfStatus"
})
    <div class="ui-content">
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">@Model.Shipments.Count Shipments</li>
            @for (var j = 0; j < Model.Shipments.Count; ++j)
            {
                <li>
                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipment(Model.Shipments[j].ShipmentId))">
                        <h3>
                            @(j + 1).
                            @Model.Shipments[j].ShipmentId
                        </h3>
                        <div class="ui-grid-a ui-responsive">
                            <div class="ui-block-a">
                                Cartons @Html.DisplayFor(m => m.Shipments[j].ReceivedCartonCount)
                                of @Html.DisplayFor(m => m.Shipments[j].ExpectedCartonCount)

                                <strong>(@Html.DisplayFor(m => Model.Shipments[j].TotalCartonVariance))</strong>
                            </div>
                            <div class="ui-block-b">Received: @Model.Shipments[j].DisplayReceivedDate</div>
                            <div class="ui-block-a">
                                Pieces
                                @Html.DisplayFor(m => m.Shipments[j].ReceivedPieces) of
                                @Html.DisplayFor(m => m.Shipments[j].ExpectedPieces)
                                <strong>(@Html.DisplayFor(m => m.Shipments[j].TotalPiecesVariance))</strong>
                            </div>
                            <div class="ui-block-b">Sewing Plant: @Model.Shipments[j].SewingPlant</div>
                        </div>
                        <p>
                            @Html.DisplayFor(m => m.Shipments[j].VarianceCommentsExcel)

                        </p>
                        <p class="ui-li-aside">@Html.DisplayFor(m => m.Shipments[j].ShipmentDate)</p>
                        <p class="ui-li-count">To ERP: @Html.DisplayFor(m => m.Shipments[j].ShipmentCloseDate)</p>
                    </a>
                </li>
            }
        </ul>
    </div>


</div>
<div data-role="popup" id="statusPopup" data-theme="a">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
        <li data-role="list-divider">Filter by Type</li>
        <li><a data-value="@DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Open">Open</a></li>
        <li><a data-value="@DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Closed">Closed</a></li>
        <li><a href="#datesPopup" data-rel="popup">Dates</a></li>
    </ul>
</div>

<div data-role="popup" id="datesPopup" data-position="right" data-display="overlay" data-theme="a">
    <div data-role="header">
        <h1>  Shipment Close Dates</h1>
    </div>
    @using (Html.BeginForm())
    {
        <ul data-role="listview" data-inset="true">
            <li>
                <label>
                    From
                    @Html.TextBoxFor(m => m.Filters.MinClosedDate, new
               {
                   type = "date",
                   placeholder = "mm/dd/yyyy"
               })
                </label>
                @Html.ValidationMessageFor(m => m.Filters.MinClosedDate)
            </li>
            <li>
                <label>
                    To
                    @Html.TextBoxFor(m => m.Filters.MaxClosedDate, new
               {
                   type = "date",
                   placeholder = "mm/dd/yyyy"
               })
                </label>
                @Html.ValidationMessageFor(m => m.Filters.MaxClosedDate)
            </li>
            <li>
                <button id="btnApplyFilter"
                        data-status-value="@DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Dates">
                    Apply
                </button>
                <button>Cancel</button>
            </li>
        </ul>
    }
</div>

@section script {
    <link href="@Links_Inquiry.Areas.Inquiry.IntransitEntity.IntransitShipmentList_css" rel="stylesheet" />
    <script src="@Links_Inquiry.Scripts.jquery_validate_js"></script>
    <script src="@Links_Inquiry.Scripts.jquery_validate_unobtrusive_js"></script>
    <script type="text/javascript">
        // We remove this string from posted query string names
        var _prefix = '@Model.NameFor(m => m.Filters)' + '.';
    </script>
    <script src="@Links_Inquiry.Areas.Inquiry.IntransitEntity.IntransitShipmentList_js"></script>

}
